.containerCart {
    width: 95% !important;
    min-height: 70vh;
    max-height: max-content;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    margin-bottom: 40px !important;
    margin-top: 10px !important;
}
.background{
    background-color: rgba(0, 0, 0, 0.1);
    width: 95%;
}

.productList {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color:  #9ddacc;
    padding: 30px;
}

.saveBtn {
    border-radius: 5px;
    width: 600px;
    font-weight: bold;
    font-size: 0.8rem;
    padding: 5px;
    border: none;
}
.saveBtn:hover {
   cursor: pointer;
}

.createdOrder {
    border-radius: 5px;
    width: 600px;
    cursor: default;
    background-color: #ffffff;
    font-weight: bold;
    font-size: 0.8rem;
    color: black;
    padding: 5px;
    border: none;
}

.emptyCart {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    width: 900px;
    height: 50px;
    font-weight: bold;
}

.productContainer {
    width: 600px;
    padding: 15px;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #ffff;
    font-size: 0.8rem;
    margin: 5px 10px;
    border-radius: 15px;
}

.info {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.productInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 8px;
}

.quantity {
    background-color: rgba(0, 0, 0, 0.2);
    width: 150px;
    height: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border-radius: 10px;
}

.quantity span {
    text-align: center;

}

.qtyBtn {
    width: 105px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.qtyBtn input {
    width: 35px;
    text-align: center;
    font-size: 0.8rem;
}

.qtyBtn button {
    cursor: pointer;
    width: 30px;
}

.priceContainer {
    width: 500px;
    padding: 15px 25px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 8px;
    border: 1px solid black;
    margin: 5px 10px;
    background-color: #fff;
}

.priceDetails {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 25px;
    width: 450px;
}

.priceDetails {
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 12px;
    border-radius: 10px;
}

.checkoutBtn,
.deleteBtn {
    font-size: 0.7rem;
    background-color: #9ddacc;
    color: black;
    cursor: pointer;
    padding: 5px;
    border: none;
    border-radius: 5px;
    border: 1px solid black;
}

.deleteBtn:hover {
    color: #fff;
}
.checkoutBtn:hover {
    color: #ffff;
}
.paymentPartners{
    font-size: 0.8rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.shippingDetails {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: rgba(0, 0, 0, 0.1);
    min-height: 80vh;
    max-height: max-content;
    width: 95%;
}
.shippingDetails h3{
    text-align: center;
}
.shippingContainer{
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    width: 93%;
}
.checkoutForm{
    width: 50%;
    background-color: #9ddacc;
    padding: 10px 0px;
    padding-top: 40px;
    border: 1px solid black;
}
.continueBtn{
    background-color: white;
    color: black;
}
.continueBtn:hover{
    color: black !important;
    background-color:rgba(0, 0, 0, 0.1) !important;
}