.footer{
    font-size: 0.7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 10vh;
    background-color: rgb(255 137 76);
    width: 100vw;
  }