*{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
}

.body{
  /* background-color: #ffc15d; */
  background-image: linear-gradient(#ffc15d,#ff894c);
  min-height: 75.7vh;
  max-height: max-content;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  box-shadow: 0px 4px 10px 1px #ffc15d;

}
.registerBox{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid black;
  width: max-content;
  margin: auto;
  margin-top: 4%;
  height: max-content;
  padding:20px 50px;
  padding-bottom: 32px;
  background-color:  rgb(255 137 76);
  
}
.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  }
 .form input{
   margin: 5px;
   text-align: center;
   padding: 3px 2px;
   width: 100%;
   font-size: 0.8rem;
 }
 .errors{
  color: darkred;
  font-size: 0.8rem;
 }
 .submitBtn{
  width: 100%;
  margin: 5px;
  text-align: center;
  padding: 3px 2px;
  cursor: pointer;
  background-color: #9ddacc;
  border: none;
  border-radius: 10px;
  color: black;
 }
 .submitBtn:hover{
  background-color: white;
 }
 .link{
  font-size: 0.7rem;
  margin: 10px 0px;
 }
 .linkBtn{
  color: white;
 }
.linkBtn:hover{
  color: #9ddacc;
}



/* ----------------NavbarCss-------------- */

.navBar{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 10vh;
  background-color: rgb(255 137 76);
}
.logo{
  border: 1px solid white;
  border-radius: 8px;
  cursor: pointer;
}
.searchBar{
  width: 40%;
}
.searchBar button{
  background-color:#9ddacc;
  color: black;
}

.search{
  width: 220%;
}

.navSubmitBtn{
  margin-left: 3px;
  font-size: 0.7rem;
  padding: 4px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}
.navSubmitBtn:hover{
  background-color: #9ddacc;
}
.account{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;  
}

.icon{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 0px 10px;
}
.accountIcon{
  margin-top: 4px;
}

.account span{
  font-size: 0.8rem;
  padding: 5px;
  border-radius: 8px;
  margin: 0px 5px;
  background-color:#9ddacc ;
  cursor: pointer;
}
.account span:hover{
  background-color: white;
}
.account text{
  font-size: 0.7rem;
  color: darkred;
  margin-left: 4px;
}

.links{
  text-decoration: none;
  color: black;
}



/* -------HomeCss----------- */

.categories{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 5px 10px 3px rgb(255 137 76);
  background-color: #fff;
  position: relative;
  z-index: 9;
}
.categories span{
  font-size: 0.7rem;
  background-color: rgb(255 137 76);
  margin: 2px 8px;
  padding: 5px;
  border-radius: 5px;
  
  }
.categories span:hover{
  background-color: #9ddacc;
  cursor: pointer;
  }

.footer{
  font-size: 0.7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 10vh;
  background-color: rgb(255 137 76);
  
}
.dropdown:hover{
 background-color: black;
}
.productForm{
  margin: 30px auto;
  font-size: 1rem;
}
.productForm h3{
  text-align: center;
  padding: 10px;
 
}

